
body, html {
    height: 100%;
  }
  
  h1
  {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
  
  p
  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
    
  /* ============ navbar ===============*/
    .flex-container 
    {
        display: flex;
        background-color:whitesmoke;
        flex-direction: row-reverse;
    }
      
    .flex-container > div 
    {
        background-color: whitesmoke;
        padding: 30px;
        font-size: 15px;
        color: rgba(255, 255, 255, 0.884);
        flex-wrap: nowrap;
    }
  s
    .nav {
        list-style-type: none;
        padding: 0;
    }
  
    /* unvisited link */
  a:link {
    color: black;
    text-decoration: none!important;
  }
  
  /* visited link */
  a:visited {
    color: black;
    text-decoration: none!important;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
    text-decoration: none!important;
  }
  
  /* selected link */
  a:active {
    color: black;
    text-decoration: none!important;
  }
  
  .button4 {border-radius: 12px;}
    /*======= hero image ======== */
    
    /* The hero image */
    .hero-image {
        background-image: url("food3.jpg");
      /* Set a specific height */
      height: 75%;
    
      /* Position and center the image to scale nicely on all screens */
  
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      background-color: rgba(142, 51, 38, 1);
    }
    
    .container1
    {
        display: flex;
        padding-left: 125px;
    }
    /* Place text in the middle of the image */
    .hero-text {
    
      position: absolute;
      top: 40%;
      left: 22%;
      transform: translate(-50%, -50%);
      color: white;
    }
    /*======= first page ======== */
    .button
    {
        padding-left: 300px;
    }
  
    .box-2
    {
        padding-top: 10px;
        padding-left: 300px;
  
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: left; 
        animation-duration: 1s;
        animation-name: fadeInOpacity;
    }
  
    .box-1 
    {
        padding-left: 300px;
    }
  
    /*======= cards and cards page ======== */
  
    .container
    {
        display: flex;
    }
  
    .services
    {
        position: relative;
        background: whitesmoke;
        color: rgba(142, 51, 38, 1);
        overflow: hidden;
  
    }
  
  
    .box6, .box7, .box8
    {
        padding-top: 25px;
        padding-left: 60px;
        padding-bottom: 40px;
        align-items: center;
    }
  
    
  .card
  {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left; 
  }
  
  
  /*====== who we are/what we do =========*/
  .container2
  {
    display: flex;
        background-color:#E6AE3B;
        flex-direction: row-reverse;
  }
  
  .box10,.box9
  {
  
    padding: 25px;
    text-align: center;
    padding-top: 75px;
  }
  
  
  
  /*====== paralax background for quotes =========*/
  
    .parallax {
        /* The image used */
        background-image: url("food1.jpg");
      
        /* Set a specific height */
        min-height: 400px; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
      }
  
  
  /*======= section three with quotes ======== */
  .pageThree
  {
    position: relative;
    background: whitesmoke;
    color: rgba(142, 51, 38, 1);
    height: 25vh;
    align-items: center;
    text-align: center;
    padding-bottom: 600px;
    padding-top: 100px;
  }
  
  
  .box3-1,.box-2
  {
    margin-top: 10px;
    padding-top: 10px;
    padding-left:300px;
  }
  
  
  
  
  /*======= MENU PAGE TWO ======== */
  .pageTwo
  {
    position: relative;
    background: whitesmoke;
    color: rgba(142, 51, 38, 1);
    align-items: center;
  }
  
  .box9, .box10
  {
        align-items: center;
        padding-bottom: 100px;
  }
  
  .box2-1, .box2-2
  {
    text-align: center;
    padding-left: 100px;
    padding-top: 100px;
    
  }
  
  /*======= footer ======== */
  .footer
  {
    background-color: rgba(142, 51, 38, 1);
    text-align: center;
    padding-top: 125px;
  }
  
  /*======= animations ======== */
  /*  text  */
  .fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  }
  
  @keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  }
  